---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <!-- <div class="text-xl py-1">Hey there 👋</div> -->
    <div class="text-5xl font-bold">I'm Tim Jedrek</div>
    <div class="text-3xl py-3 font-bold">Pilot | Digital Marketing Agency Owner | Software Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        This is my personal website.  If you're on here already, just wanted to let you know that there's a link in the menu, and also down below, that says <strong>contact</strong> which leads you to a form where we can get in contact.  Or you can email me directly at tim@timjedrek.com or call me at 314-358-2100.  If you're not ready for all that just yet, feel free to explore the website and check out some of the projects I've worked on.
      </text>
    </div>
    <div class="my-8">
      <a class="btn px-6" href="https://twitter.com/manuelernestog" target="_blank">My Work</a>
      <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
        Contact Me
      </a>
    </div>
    <div class="text-2xl py-3 font-bold">About Me</div>
    <div class="text-sm italic text-accent">last updated February 2024</div>
    <div class="py-2">
      <text class="text-lg">
        I'm on a mission to find 100 flight schools in the world to partner with and double their student body.  Everyday, I work with the team at Right Rudder Marketing to implement and execute the latest technical strategies and tactics to move flight school businesses up higher on Google search. Our collective goal is to get those flight schools known to their prospective students.  Through our efforts we've helped flight schools in America achieve:
      </text>
      <ul class="list-disc ml-10 my-5">
        <li>Bringing flight schools to over $1M in annual revenue</li>
        <li>10X the number of leads coming in a flight school</li>
        <li>Doubling flight school student body and flight time brining in ov $3M in annual revenue</li>
        <li>Double the amount of Google reviews at a flight school in under 6 months</li>
        <li>Dominating in a flight school's local service area and ranking #1 on Google Maps and organic search</li>
      </ul>
      <text class="text-lg">
        I started Right Rudder Marketing over a year ago and I am so grateful for the growth of the company and of our flight school partners.  It truly is awe inspiring to see our flight schools transform their operations into large scalable businesses.  I love being a part of that because I know that by growing our flight schools' businesses, it drives more people into aviation and brings more pilots into the industry.
      </text>
    </div>
    <div class="text-2xl py-3 font-bold">How I Got Here</div>
  </div>
<!-- 
  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
