---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Tim Jedrek Limited Liability Corporation
  </div>
  <div class="inline opacity-75">
    <a href="/tos" target="_blank" class="">Privacy & Terms of Service </a> 
  </div>
</footer>
<style></style>
